<div>

<div class="full-view">
  <h3 class = "mt-2 mb-1">Today's Journal</h3>
<div class ="day mt-1 mb-1">
  <h4 class = "dtext"> I Am Grateful For… </h4>
  <h5 class = "dtext">{{this.gratitude}}</h5>

  <br>

  <h4 class = "dtext"> What Would Make Today Great?</h4>
  <h5 class = "dtext">{{this.great}}</h5>

  <br>

  <h4class = "dtext"> Daily Affirmation</h4>
    <h5class = "dtext">I am…{{this.affirmation}}</h5>
</div>

<div class = "eve mt-1 mb-1">
 <h4 class="night">What Made Today Great?</h4> 
  <h5 class="night">{{this.today}}</h5> 

  <br>

  <h4 class="night">What Could Have Made Today Even Better? </h4>
  <h5 class="night">{{this.better}}</h5>
</div>
  
  <br>
  
  <small><p> Created At: {{ date this.createdAt }}</p></small>

</div>

</div>
