<div class="full-view">
  <p> Created At: {{ this.createdAt }}</p>
  <p> I am grateful for…{{this.gratitude}}</p>
  <p> What would make today great? {{this.great}}</p>
  <p> Daily affirmation. I am…{{this.affirmation}}</p>
  <p> Today {{this.today}}</p>
  <p> Better {{this.better}}</p>

</div>

