<div class = "contain">
<div class = "tag">
   <h3 class = "quote-body">{{quote.text}} </h3>
   <p class = "quote-auth">{{quote.author}}</p>
</div>
<img class= "quote-img" src = "{{response.urls.regular}}">
</div>

{{!-- <img class= "quote-img" src = "{{response.urls.regular}}" >
<div class="container my-auto quote">
<h3>{{quote.text}} </h3>
<br>
<p>{{quote.author}}</p>
</div> --}}



{{!-- <button type="button" class="btn btn-outline-primary btn-block"><a href = "/{{user}}">Profile</a></button> --}} --}}

 <script>
         setTimeout(function(){
            window.location.href = `https://new-day-journal.herokuapp.com/auth/auto-signout`;
         }, 5000);
</script>