<div> 
  {{>nav}}
<div class="entryContainer">
  
<h1>Edit You Details</h1>

<form action="/{{user._id}}/edit" method="POST">

  <label for="input-name">Update Name</label>
  <textarea type="text" id="input-name" name="name" >{{user.name}}</textarea>

 
  <label for="email">Update Email</label>
  <textarea type="text" id="email" name="email" >{{user.email}}</textarea>


 <label for="location">Update Location</label>
 <textarea type="text" id="loaction" name="location" >{{user.location}}</textarea>

  <label for="theme">Update Theme</label>
  <select name="theme" id="input-theme" placeholder="Choose theme">
  <option value="None">{{user.theme}}</option>
  <option value="none">none</option>
  <option value="forest">forest</option>
  <option value="ocean">ocean</option>
  <option value="space">space</option>
  <option value="pattern">pattern</option>
  <option value="beach">beach</option>
   </select>

<br>
  <button type="submit" class="shortBtn">Update</button>
</form>

</div>

</div> 
 
