<h1>Editing You Details</h1>

<form action="/{{user._id}}/edit" method="POST">

  <label for="input-name">Update Name</label>
  <textarea type="text" id="input-name" name="name" >{{user.name}}</textarea>

 
  <label for="email">Update Email</label>
  <textarea type="text" id="email" name="email" >{{user.email}}</textarea>


 <label for="location">Update Location</label>
 <textarea type="text" id="loaction" name="location" >{{user.location}}</textarea>

  <label for="theme">Update Theme</label>
  <select name="theme" id="input-theme" placeholder="Choose theme">
  <option value="None">{{user.theme}}</option>
  <option value="None">None</option>
  <option value="Forest">Forest</option>
  <option value="Ocean">Ocean</option>
  <option value="Space">Space</option>
  <option value="Pattern">Pattern</option>
  <option value="Beach">Beach
  </option>
   </select>

<br>
  <button type="submit" class="btn">Edit Information</button>
</form>



</div>
